# KEYWORDS

In [0]:
# IMPORT:- We can make use of codes,libraries,functions present in small package or module "KEYWORD" in this code snippet
import keyword
# print the list of all keywords in python
print("LIST OF KEYWORDS:-",keyword.kwlist)
# print the total number of keywords used in python
print("TOTAL NUMBER OF KEYWORDS:- ",len(keyword.kwlist))

LIST OF KEYWORDS:- ['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
TOTAL NUMBER OF KEYWORDS:-  33

# VALID IDENTIFIERS

In [0]:
global_12=1
_123="abc"
L1234= 1000
print(global_12)
print(_123)
print(L1234)

1
abc
1000

# INVALID IDENTIFIERS

In [0]:
global=123
12_abc=456
A_34%=213
print(global)

SyntaxError: ignored

In [0]:
print(12_abc)

SyntaxError: ignored

In [0]:

print(A_34%)

SyntaxError: ignored

#SINGLE LINE COMMENTS

In [0]:
# PRINT HELLO WORLD
print("HELLO WORLD")

HELLO WORLD

# DOUBLE LINE COMMENTS

In [0]:
# This is a comment
# that extends in 
# multiple lines

In [0]:
"""This is a comment that extends in multiple lines"""

In [0]:
'''This is a comment that extends in multiple lines'''

# INDENTATION

In [0]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

# UNINDENTATION

In [0]:
for i in range(1,10):

print(100)

IndentationError: ignored

# INDENTATION AND UNINDENTATION

In [0]:
for i in range(1,10):
  print(i)
  print(i**2)
print(100)

1
1
2
4
3
9
4
16
5
25
6
36
7
49
8
64
9
81
100

# INDENTATION

In [0]:
if(True):
  print("MACHINE LEARNING")
  c="AAIC"

# UNINDENTATION IN A SINGLE LINE

In [0]:
if(True):print("MACHINE LEARNING");c="AAIC"

# SINGLE LINE STATEMENT

In [0]:
A=1

# MULTI-LINE STATEMENT

In [0]:
a=1+2+3+\
  4+5+6+\
  7+8
print(a)

36

In [0]:
a=(1+2+3+
   4+5+6+
   7+8)
print(a)

36

# MULTIPLE STATEMENTS IN A SINGLE LINE

In [0]:
a=12;b=13;c=14

# PYTHON OUTPUT

In [0]:
print("HELLO SAKSHI!!!!")

HELLO SAKSHI!!!!

In [0]:
age=19
print("My age is",age)

My age is 19

In [0]:
name="Sakshi"
print("My name is "+name)

My name is Sakshi

# OUTPUT FORMATTING

In [0]:
a=10;b=20
print("The value of a is {} and b is {}".format(100,200))

The value of a is 100 and b is 200

In [0]:
print("The value of a is {} and b is {}".format(200,100))

The value of a is 200 and b is 100

In [0]:
print("The value of a is {0} and b is {1}".format(a,b))

The value of a is 10 and b is 20

In [0]:
print("The value of a is {1} and b is {0}".format(a,b))

The value of a is 20 and b is 10

In [0]:
print("My name is {name} and {greetings}".format(name="Sakshi",greetings="NICE TO MEET U!!!"))

My name is Sakshi and NICE TO MEET U!!!

In [0]:
print("My name is {0} and {greetings}".format("Sakshi",greetings="NICE TO MEET U!!!"))

My name is Sakshi and NICE TO MEET U!!!

# PYTHON INPUT

In [0]:
num=input("Enter a number:-")
print(num)

Enter a number:-12
12

# ARITHMETIC OPERATORS

In [0]:
x=10;y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x**y)
print(x//y)

30
-10
200
0.5
10
100000000000000000000
0

# COMPARISON OPERATORS

In [0]:
x=10;y=20
print(x<y)
print(x>y)
print(x==y)
print(x<=y)
print(x>=y)
print(x!=y)

True
False
False
True
False
True

# LOGICAL OPERATORS

In [0]:
a=True
b=False
print(a and b)
print(a or b)
print(not a)

False
True
False

# BITWISE OPERATORS

In [0]:
a=10
b=20
print(a>>b)
print(a<<b)
print(a&b)
print(a|b)
print(a^b)
print(~a)

0
10485760
0
30
30
-11

# ASSIGNMENT OPERATOR

In [0]:
a=10
a+=10
print(a)
a-=5
print(a)
a*=30
print(a)
a/=30
print(a)
a%=40
print(a)
a//=10
print(a)
a**=2
print(a)
#a^=50
#print(a)
#a&=25
#print(a)
#a|=15
#print(a)
#a<<=45
#print(a)
#a>>=89
#print(a)

20
15
450
15.0
15.0
1.0
1.0

# IDENTITY OPERATORS

In [0]:
a=5
b=5
print(a is b)

True

In [0]:
print(a is not b)

False

In [0]:
a1=[1,2,3,4]
b1=[1,2,3,4]
print(a1 is b1)

False

In [0]:
print(a1 is not b1)

True

In [0]:
a2="AAIC"
b2="AAIC"
print(a2 is b2)

True

In [0]:
print(a2 is not b2)

False

# MEMBERSHIP OPERATORS

In [0]:
l=[1,2,3,4]
print(1 in l)
print(9 in l)

True
False

In [0]:
d={1:"A",2:"B"}
print(1 in d)

True

In [0]:
print("A" in d)

False

In [0]:
print(3 in d)

False

# IF STATEMENT

In [0]:
num=10
if (num>10):
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

GREATER OR LESS THAN 10

In [0]:
num=10
if (num<10):
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

GREATER OR LESS THAN 10

In [0]:
num=10
if (num==10):
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

EQUAL TO 10
GREATER OR LESS THAN 10

In [0]:
num=10
if (num-10):
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

GREATER OR LESS THAN 10

In [0]:
num=10
if -1:
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

EQUAL TO 10
GREATER OR LESS THAN 10

In [0]:
num=10
if None:
  print("EQUAL TO 10")
print("GREATER OR LESS THAN 10")

GREATER OR LESS THAN 10

# LARGEST NUMBER AMONGST THREE NUMBERS

In [0]:
a=10
b=20
c=30
if(a>b and a>c):
  print(a,"is the largest number")
elif(b>a and b>c):
  print(b,"is the largest number")
else:
  print(c,"is the largest number")

30 is the largest number

# WHILE LOOP

 **FIND THE PRODUCT OF ALL NUMBERS PRESENT IN A LIST**

In [0]:
l=[10,20,30,4,50]
p=1
i=0
while i<len(l):
  p=p*l[i]
  i=i+1
print("Product is {pro}".format(pro=p))

Product is 12000000

**WHILE LOOP WITH ELSE**

In [0]:
l1=[10,20,30,40]
i=0
while i<len(l1):
  print(l1[i])
  i=i+1
else:
  print("All elements present in a list are printed")

10
20
30
40
All elements present in a list are printed

**PRIME NUMBER**

In [0]:
num=int(input("Enter a number:-"))
i=2
Divisible=False
while (i<num):
  if(num%i==0):
    Divisible=True
    print("{} is divisible by {}".format(num,i))
    i=i+1
if(Divisible):
  print("{} is not a prime number".format(num))
else:
  print("{} is a prime number".format(num))

# FOR LOOP

**PRODUCT OF ALL THE ELEMENTS IN A LIST**

In [0]:
l2=[1,2,3,4,5,6]
p=1
for i in l2:
  p=p*i
print("The product of elements is {}".format(p))

**RANGE FUNCTION**

In [0]:
for i in range(10):
  print(i)

In [0]:
for j in range(1,21,2)
print(j)

In [0]:
l3=["Sakshi","Saksham","Reena","Sanjeev","Shraddha"]
for k in l3:
  print(k)

In [0]:
for l in range(len(l3)):
  print(l3[l])

**PRINT THE PRIME NUMBERS WITHIN A RANGE**

In [0]:
start=int(input("Enter the starting limit:-"))
stop=int(input("Enter the end limit:-"))
for i in range(start,stop,1):
  if(num>1):
    Divisible=False
    for j in range(2,num+1):
    if(num%j==0):
      print("{} is divisble by {}".format(num,j))
      Divisible=True
if(Divisible):
  print("{} is not a prime number".format(num))
else:
  print(num)

**BREAK**

In [0]:
n=[1,2,3,4,5,6]
for i in n:
  if(i==3):
    break
else:
  print("IN THE ELSE BODY")
print("DONE!!!")

**CONTINUE**

In [0]:
n=[1,2,3,4,5,6]
for i in n:
  if(i==3):
    continue
else:
  print("IN THE ELSE BODY")
print("DONE!!!")

# VARIABLES

**VARIABLE ASSIGNMENTS**

In [0]:
a=10
b=5.5
c="HELLO"

**MULTIPLE ASSIGNMENTS**

In [0]:
a,b,c=10,5.5,"HI"

In [0]:
a=b=c=10

**ADDRESS OF A VARIABLE OR STORAGE LOCATION**

In [0]:
x=500
print(id(x))

**DATA TYPES**

In [0]:
a=10
print(type(a))

In [0]:
b=5.5
print(type(b))

In [0]:
c="HI"
print(type(c))

In [0]:
d=1+2j
print(type(d))

In [0]:
print(isinstance(10,int))

**BOOLEAN**

In [0]:
a1=True
print(type(a1))

**STRINGS**

In [0]:
v="Hiii....I am Sakshi"
print(v)
print(type(v))

In [0]:
print(v[4])

In [0]:
v1="""Nice To Meety You
      !!!"""
print(type(v1))
print(v1)

In [0]:
print(v1[len(v1)-1])

In [0]:
print(v1[3:6])
print(v1[:9])
print(v1[3:])

**COVERSION BETWEEN DATATYPES**

In [0]:
float(5)

In [0]:
int(10.56)

In [0]:
str(50.6)

In [0]:
int("34.6")

In [0]:
int("10v")

In [0]:
name="sakshi"
l=1002

print("Congratulations "+name+"! You just wrote "+str(l)+" lines")